# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  nodejs:
    build:
      context: ./node/.
    image: tremulous_client_nodejs
    container_name: tremulous_client_nodejs
    environment:
      NODE_ENV: production
    ports:
      - 8080:8080
    networks:
      app-network:
        ipv4_address: 172.20.0.10
  webserver:
    build:
      context: ./nginx/.
    image: nginx
    container_name: nginx_webserver
    ports:
      - 443:443  
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /etc/letsencrypt:/var/lib/letsencrypt
    depends_on:
      - nodejs
    networks:
      - app-network

networks:
  app-network:
    driver: bridge  
    ipam:
      config:
        - subnet: 172.20.0.0/24